* {
  min-width: 0;
  min-height: 0;
}

// bower:scss
@import "bower_components/slick-carousel/slick/slick.scss";
// endbower

.container  {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  padding: 0;
}
a, input, textarea, button, select, .slick-slide {
  &, &:hover, &:active, &:focus {
    outline: none;
  }
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
a {
  &, &:hover, &:active, &:focus {
    text-decoration: none;
  }
}
.slick-arrow {
  background: url('/images/slick-arrow.png') center center no-repeat, rgba(43,73,137,.1);
  position: absolute;
  z-index: 9;
  text-indent: -99999px;
  width: 41px;
  height: 200px;
  top: 30%;
  border: 0;
  cursor: pointer;
  &.slick-prev {
    left: 1rem;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
  }
  &.slick-next {
    right: 1rem;
  }
  &.slick-disabled {
    display: none!important;
  }
}
.slick-dots {
  position: absolute;
  bottom: 6px;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  &, li, button {
    height: 6px;
  }
  li {
    display: inline-block;
    width: 50%;
    button {
      text-indent: -99999px;
      background-color: #ececec;
      border: 0;
      padding: 0;
      width: 100%;
    }
    &:not(.slick-active) button {
      cursor: pointer;
    }
    &.slick-active {
      position: relative;
      button {
        background: radial-gradient(circle at 50% 50%, #0f203e, #2c4d89);
      }
    }
  }
}

.page {
  overflow: hidden;
  background: #fff;
  font-family: 'Roboto', sans-serif;
}
.slider-block {
  padding-top: 3rem;
  padding-bottom: 3rem;
  .slider {
    /*min-width: 640px;*/
    max-width: 1280px;
    min-height: 470px;
    max-height: 530px;
    background: radial-gradient(circle at 50% 50%, #ffffff, #efefef);
    margin: 0 auto;
    position: relative;
  }
  .slick-list {
    min-height: 300px;
  }
}
.slide-wrap {
  padding: 5rem 10%;
  display: flex;
  justify-content: space-around;
  .chart-wrap-1 {
    width: 48%;
  }
  .chart-wrap-2 {
    width: 43%;
  }
  .chart-wrap-1, .chart-wrap-2 {
    .c3-axis text, .c3 text {
      font-family: Helvetica, arial;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      color: #000;
      fill: rgb(0,0,0)!important;
    }
  }
  .chart-wrap-3 {
    width: 80%;
    margin: 0 auto;
    .c3-chart-texts text, .c3-axis-x text, .c3-axis-y text {
      font-family: Helvetica, arial;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
    }
    .c3-chart-texts text {
      font-size: 12px;
      font-weight: normal;
      line-height: 0.83;
      color: rgb(255,255,255);
      fill: rgb(255,255,255)!important;
    }
    .c3-axis-x text {
      font-size: 14px;
      font-weight: bold;
      line-height: 0.71;
      color: #000;
    }
    .c3-axis-y text {
      opacity: 0.6;
      font-size: 12px;
      font-weight: normal;
      line-height: 0.83;
      color: #000;
    }
    .c3-xgrid, .c3-ygrid, .c3-grid-lines line {
      stroke-dasharray: 0;
      height: 1px;
      opacity: 0.3!important;
      stroke: #d2d2d2;
    }
  }
}
.c3-axis .tick line, .c3 path.domain {
  display: none;
}
.c3-axis text {
  opacity: 0.6;
  font-size: 16px;
  line-height: 0.63;
}
.c3 text {
  font-size: 14px;
  line-height: 0.71;
}
#chart-2 {
  .c3-ygrid-line {
    stroke: #d2d2d2;
    stroke-width: 2;
  }
}

/************************************** screen rules *************************************************/
@media (min-width: 1281px) {
  .container {
    width: 1280px;
  }
  .slider-block .slider {
    height: 530px;
  }
}
@media (max-width: 1280px) {
  .container {
    width: 768px;
  }
  .slider-block .slider {
    height: 470px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 640px;
  }
  .slide-wrap .chart-wrap-3 {
    width: 100%;
  }
}
@media (max-width: 640px) {
  .container, .page, html {
    width: 100%;
  }
  .slide-wrap {
    padding: 2rem 10%;
  }
  .slider-block {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}